@tailwind base;
@tailwind components;
@tailwind utilities;

/* 以下、既存のカスタムスタイル */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.react-flow__container {
  height: 100%;
}

.react-flow__edge-path {
  stroke: #9ca3af;
  stroke-width: 2;
}

.react-flow__edge-text {
  font-size: 12px;
  fill: #4b5563;
  font-weight: 700;
}

.react-flow__edge-textbg {
  fill: #f3f4f6;
  fill-opacity: 0.7;
}

.react-flow__handle {
  width: 12px !important;
  height: 12px !important;
  min-width: 12px !important;
  min-height: 12px !important;
  border: 1px solid #d1d5db !important;
  background-color: white !important;
  border-radius: 50% !important;
}
